{% load static %}
{% if post_list|length > 0 %}
    <div class="row row-cols-1 row-cols-md-3">
        {% for post in post_list %}
            <div class="row">
                <div class="card">
                    {% if post.photo %}
                        <img class="card-img-top" src="{{ post.photo.url }}" alt="{{ post.title }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/testimonial-1.jpg' %}" alt="{{ post.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                        </h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger">
        <strong>No Posts Found!</strong>
    </div>
{% endif %}
